<%= form_for(@faq) do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>&nbsp;NOTE!! Do not add '?' after your question text.  The page will do that for you.
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <h4>NOTE!!!  Default font for website is Helvatica 18pt</h4>
    <%= f.text_area :answer, :class => "tinymce" %>
    <%= tinymce %>
  </div>
  <% if params[:action] == "edit" %>
  <div class="field">
    <%= f.label :order_index %><br />
    <%= f.text_field :order_index %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
