
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well">

        <h1>Listing Information Requests</h1>
        <%= link_to "View Archived Information Requests", archived_path %><br><br>
            <table class="table table-bordered table-striped">
              <tr>
                <th>Link</th>
                <th>Submitter name</th>
                <th>Patient name</th>
                <th>Email address</th>
                <th>Phone number</th>
                <th>Description</th>
                <th>Date/Time of Request</th>
                <th></th>
              </tr>

            <% @information_requests.each do |information_request| %>
              <% msg_body = "#{information_request.submitter_name},\n\nThank you for your request for information on behalf of #{information_request.patient_name}.\n\nThank you,\nAvis Griffith" %>
              <tr>
                <td><%= link_to "View", information_request %>
                <td><%= information_request.submitter_name %></td>
                <td><%= information_request.patient_name %></td>
                <td><%= mail_to "#{information_request.email_address}", "#{information_request.email_address}", 
                :subject => 'CCC Information Request Follow-Up', :body => msg_body %></td>
                <td><%= information_request.phone_number %></td>
                <td><%= information_request.description %></td>
                <td><%= information_request.created_at %></td>
                <td><%= link_to 'Archive', "information_requests/#{information_request.id}/archive", confirm: 'Are you sure?', method: :PUT %></td>
              </tr>
            <% end %>
            </table>


            <%= link_to "Administration Main", admin_path %>
      </div>
    </div>
  </div>
</div>



