<%= form_tag do %>
 <table>
   <tr>
     <td>Username:</td>
     <td><%= text_field("user", "name") %></td>
   </tr>
   <tr>
     <td>New Password:</td>
     <td><%= password_field("user", "new_password") %></td>
   </tr>
   <tr>
     <td>Confirm New Password:</td>
     <td><%= password_field("user", "new_password_confirm") %></td>
   </tr>
   <tr>
     <td></td>
     <td><%= submit_tag "Submit", :class => 'btn btn-primary' %></td>
   </tr>
 </table>

<% end %>
