<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @administrator.username %>
</p>

<p>
  <b>Password digest:</b>
  <%= @administrator.password_digest %>
</p>


<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
