<% if notice != nil %>
  <p class="alert"><%= notice %></p>
<% end %>

<% content_for :head do %>
  <title>Coastal Communication Consultants</title>
  <meta name="description" content="Coastal Communication Consultants, specializing in Speech Language Therapy in Charleston, SC.">
<% end %>

<div class="row">
  <div class="span7" style="vertical-align: middle">
    <div class="trans-well">
      <h2>Coastal Communication Consultants, PC</h2>
      <h3> is committed to providing the highest quality speech, language, reading, written language and auditory processing therapy services to children and adolescents in the South Carolina Lowcountry</h3>
    </div>
  </div>
  <div class="span5">
    <div class="well">
       <%= image_tag("Avis_in_office.jpg") %>
    </div>
  </div>
</div>
<div class="row">
   <div class="span4">
     <div class="well">
       <div class="ccc-list-head">
         <h2>Areas of Specialization:</h2>
       </div>
         <h4>
         <div class="ccc-list">
            <ul>
              <li>Articulation & Phonoglogical Delays</li>
              <li>Auditory and Language Processing Disorders</li>
              <li>A.D.D Related Language & Listening Disorders</li>
              <li>Expressive and Receptive Language Delays & Disorders</li>
              <li>Language & Literacy Delays / Disorders</li>
              <li>Written Language Disorders</li>
              <li>Stuttering (Fluency) Disorders</li>
              <li>Voice Disorders</li>
            </ul>
         </div> 
         </h4>
         <%= link_to "Learn More &raquo".html_safe, services_path %>
     </div>
   </div>
   <div class="span4">
     <div class="well">
       <div class="ccc-list-head">
         <h2>Services:</h2>
       </div>
       <h4>
       <div class="ccc-list">
          <ul>
            <li>Diagnostic Evaluations</li>
            <li>Screenings</li>
            <li>Therapy Services</li>
            <li>Consultation with Area Professionals</li>
          </ul>

       </div> 
       </h4>
       <%= link_to "Explanation of Services &raquo".html_safe, services_path %>
     </div> 
   </div>
   <div class="span4">
     <div class="well ccc-form-well">
       <div class="ccc-list-head">
         <h2>Request Information:</h2>
       </div>
              
       <%= render :partial => "information_requests/form", :locals => {:information_request => InformationRequest.new} %>
       
    </div>
   
   </div>
</div>
 
