<p id="notice"><%= notice %></p>

<p>
  <b>Testimonial text:</b>
  <%= raw @testimonial.testimonial_text %>
</p>

<p>
  <b>Written by:</b>
  <%= @testimonial.written_by %>
</p>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
