<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
     
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30422721-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<% if session[:admin_id] %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner ccc-nav">
      <div class="container">  
        <div class="brand">
          <div class="nav">
            <div id="logout-a">
              You are logged in as <%= Administrator.find_by_id(session[:admin_id]).username %>.&nbsp
             Click <%= link_to "HERE", :action => :logout, :controller => :sessions %> to log out.
            </div>
            
          </div>
        </div>    
      </div>
    </div>
  </div>
<% end -%>

<div class="container">
  <center><%= image_tag("ccc-logo.png") %></center>
 
  <div class="ccc-sub-title">
      <h1>Speech / Language Therapy in Charleston, SC</h1>
  </div>
</div>

<div class="container ccc-nav-pad">
  <div class="navbar">
      <div class="navbar-inner ccc-nav">
        <div class="container">
          <a class="brand" href="/" ><%= image_tag("CCC-brand.png") %></a>
          
          <ul class="nav">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Services", services_path %></li>
              <li><%= link_to "About the Practice", about_path %></li>
              <li><%= link_to "Resources", parent_resources_path %></li>
              <li><%= link_to "FAQ", frequently_asked_path %></li>
          <li><%= link_to "Testimonials", patient_testimonials_path %></li> 
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
      </div>
  </div>  
  
  <% if notice != nil %>
  <p class="alert"><%= notice %></p>
  <% end %>
 
  <%= yield %>
</div>

</body>

<footer class="ccc-footer">
  <div align="center">
    Copyright &copy; <% if Time.now.year > 2012 %>2012 - <% end -%><%= Time.now.year %> Coastal Communication Consultants
    <table class="ccc-footer-table" align="center">
      <tr><td>Avis Griffith</td><td>|</td><td>843.822.5244</td><td>|</td><td>avis@coastalcommunicationconsultants.com</td></tr>      
    </table>
  </div>
</footer>
</html>
